/* Self-hosted Syne (SIL OFL). Bundled as woff2 in src/assets/fonts (no CDN,
   fully offline). License ships alongside the files. Used across the whole app. */

@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/syne-400.woff2") format("woff2");
}
@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/syne-500.woff2") format("woff2");
}
@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/syne-600.woff2") format("woff2");
}
@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/syne-700.woff2") format("woff2");
}
@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./assets/fonts/syne-800.woff2") format("woff2");
}
